/* ----- used in AboutUs.js ----- */

.aboutUs {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 6rem;
}

.aboutUs-container {
  margin-top: 20rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutUs .content-container {
  width: fit-content;
  background-color: rgb(80, 80, 80);
  height: 100%;
  padding: 1rem;
  border-radius: 8px;
}

.gettoknowus {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  color: #cb376a;
}

.aboutUs-Team {
  display: flex;
  width: 80vw;
  margin-top: 3rem;
  justify-items: center;
  justify-content: center;
  padding-bottom: 5rem;
  gap: 2rem;
}

.imageFounders {
  width: 200px;
  height: auto;
  border-radius: 25rem;
  padding-top: 1rem;
}

.about-each {
  font-size: 2rem;
  margin: 1rem;
}

.aboutUs-name {
  font-size: 3rem;
  color: #cb376a;
}

.about-SportBase {
  display: flex;
  width: 80vw;
  border-radius: 1rem;
  background-color: var(--white);
  padding: 1rem;
}

.our-passion {
  font-size: 2rem;
}

.personal-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  gap: 1rem;
  border-radius: 1rem;
}

@media screen and (max-width: 768px) {
  .aboutUs {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .aboutUs-Team {
    flex-direction: column;
  }

  .personal-card {
    margin-bottom: 1rem;
  }

  .about-SportBase {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 5rem;
  }

  .hero-subtitle {
    font-size: 3.5rem;
  }

  .hero-button {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .text-container span {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 992px) {
  .hero-title {
    font-size: 7rem;
  }

  .hero-subtitle {
    font-size: 5rem;
  }

  .hero-button {
    font-size: 3rem;
    margin-top: 3rem;
  }

  .text-container span {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 10rem;
  }

  .hero-subtitle {
    font-size: 8rem;
  }

  .hero-button {
    font-size: 3rem;
    margin-top: 3rem;
  }

  .text-container span {
    font-size: 2rem;
  }
}
