/* used in Login and SignUp */

.access {
  margin-top: 6rem;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.access-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
  border-radius: 2rem;
  background: rgb(49, 173, 111);
  z-index: 1;
}

.access input,
.access button {
  padding: 0.7rem;
  display: block;
  margin: 1.5rem 0 0 0;
  border-radius: 4px;
  border: 1px solid #999;
  width: 30rem;
}

.access form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
}

.access p {
  font-size: 1.5rem;
}

.access .terms {
  display: flex;
  align-items: flex;
  justify-content: flex-start;
}

.access .terms label {
  display: flex;
  align-items: center;
}

.access .label input {
  width: 3rem;
  height: 2rem;
  display: inline;
  margin: 0;
}

.access .image-desktop {
  /* background: url(https://images.pexels.com/photos/1702624/pexels-photo-1702624.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 50%;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

@media screen and (max-width: 1200px) {
  .access .image-desktop {
    display: none;
  }

  .access .access form {
    font-size: 2rem;
  }
}

@media screen and (max-width: 430px) {
  .access input,
  .access button {
    width: 25rem;
  }
}
