/* ----- used in SignIn.js for Login.js and SignUp.js ----- */

.access {
  margin-top: 6rem;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.access-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
  border-radius: 2rem;
  background: var(--access-color-bg);
  z-index: 1;
}

.access input {
  padding: 0.7rem;
  display: block;
  margin: 1.5rem 0 0 0;
  border: 1px solid var(--input-border);
  width: 30rem;
}

.signIn-buttons {
  background-color: var(--btn-color-tertiary);
  width: 30rem;
  color: var(--white);
  border: none;
}

.access form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
}

.access p {
  font-size: 1.5rem;
}

.access .terms {
  display: flex;
  align-items: flex;
  justify-content: flex-start;
}

.access .terms label {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.access .label input {
  width: 3rem;
  height: 2rem;
  display: inline;
  margin: 0;
}

.access .switch {
  margin: 1rem;
}

.access .image-desktop {
  background: url(https://images.unsplash.com/photo-1543351611-58f69d7c1781?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80);
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 50%;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

@media screen and (max-width: 1200px) {
  .access .image-desktop {
    display: none;
  }

  .access .access form {
    font-size: 2rem;
  }
}

@media screen and (max-width: 430px) {
  .access input,
  .access button {
    width: 25rem;
  }
}
