.dashboard-section {
  margin-top: 6rem;
  display: flex;
  height: 100vh;
}

.dashboard-section .sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  z-index: 3;
  background-color: var(--clear-white);
  height: 90vh;
  width: 40rem;
  margin: 4rem;
  padding: 3rem;
  border-radius: 5px;
  gap: 3rem;
}

.dashboard-section .sidebar h2 {
  font-size: 3rem;
  color: var(--black);
}

.dashboard-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: hidden;
  width: 80vw;
  z-index: 3;
  height: 90vh;
  /* width: fit-content; */
  margin: 4rem 2rem;
  background-color: transparent;
  border-radius: 5px;
}