/* ----- used in EventMultiForm.js ----- */

/* ----- start of event form general styling ----- */

.event-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-form .content-container {
  overflow: auto;
}

.event-form .form-container {
  width: 40rem;
  height: 80rem;
  background-color: var(--clear-white);
  border-radius: 8px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}

.event-form .title-container {
  flex: 10%;
  display: grid;
  place-items: center;
  font-size: 6rem;
}

.event-form .content-container {
  flex: 80%;
}

.event-form .btn-container {
  flex: 10%;
  display: flex;
  justify-content: center;
}

.event-form .btn-container button {
  width: 10rem;
  height: 4rem;
  background-color: var(--btn-color-secondary);
  font-weight: bold;
  color: var(--clear-white);
  border: none;
  cursor: pointer;
  margin: 1rem 0.5rem;
  font-size: 2rem;
}

/* ----- end of event form general styling ----- */

/* ----- start of page 1 ----- */

.event-form .event-info {
  display: flex;
  justify-content: center;
  font-size: 6rem;
}

.event-form .event-info label {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.event-form .event-info input {
  width: 35rem;
  height: 4rem;
  padding-left: 0.5rem;
  font-size: 2rem;
  border: 2px solid var(--input-border);
  border-radius: 5px;
}

.event-form .event-info input:focus {
  border: 3px solid var(--input-border-focus);
}

@media screen and (max-width: 830px) {
  .event-form .form-container {
    width: 30rem;
    height: 60rem;
  }

  .event-form .content-container {
    width: 100%;
  }

  .event-form .event-info input {
    width: 25rem;
  }
}

/* ----- end of page 1 ----- */

/* ----- start of page 2, 3 ----- */

.event-form .select {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.event-form .select .player {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.event-form .select img {
  height: 6rem;
  width: 6rem;
  margin-right: 2rem;
}

[type="checkbox"] {
  width: 2rem;
  margin-left: 1rem;
}

.event-form .select span {
  font-size: 3rem;
}

@media screen and (max-width: 830px) {
  .event-form .select img {
    height: 4rem;
    width: 4rem;
  }

  .event-form .select span {
    font-size: 2rem;
  }
}

/* ----- end of page 2, 3 ----- */

/* ----- start of page 4 ----- */

.event-form .DnDfield {
  height: 100%;
  width: 100%;
  background-image: url(https://thumbs.dreamstime.com/b/fu%C3%9Fballplatz-skizze-92868869.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
}

.event-form .DnDfield img {
  height: 6rem;
  width: 6rem;
  cursor: move;
}

@media screen and (max-width: 830px) {
  .event-form .DnDfield img {
    height: 4rem;
    width: 4rem;
  }
}

/* ----- end of page 4 ----- */

/* ----- start of page 5 ----- */

.event-info.upload {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
}

.event-info.upload ul {
  margin: 2.5rem 0;
}

.event-info.upload li {
  list-style: disc;
}

.event-info.upload li,
.event-info.upload a {
  font-size: 2.5rem;
  line-height: 3.5rem;
}

@media screen and (max-width: 830px) {
  .event-info.upload {
    padding: 1.5rem 3rem;
  }

  .event-info.upload ul {
    margin: 1.5rem 0;
  }

  .event-info.upload li,
  .event-info.upload a {
    font-size: 2rem;
    line-height: 3.5rem;
  }

  .event-info.upload h3 {
    font-size: 3rem;
  }
}

/* ----- end of page 5 ----- */
