/* /* Links all Black because active class and every Link redirects to Home  */

.footer {
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  height: 8rem;
  padding: 0.5rem 0rem;
  background-color: #444242;
  justify-content: space-evenly;
}

.footer ul {
  display: flex;
}

.footer li {
  margin: 0 1rem;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.5rem;
}

.social-container .fontawesomeicon {
  font-size: 3rem;
  color: #00ff41;

}

.active {
  color: black;
}
