/* ----- start of globale color vars ----- */

:root {
  --navigation-color-li: rgba(44, 181, 179, 0.9);
  /* #22ad18 */
  /* #2cb5b3 */
  --navigation-color-bg: #525354;
  /* --access-color-bg: rgba(44, 181, 179, 0.85); */
  --access-color-bg: #838582e3;
  --white: #eee;
  --clear-white: #838582e3;
  --black: #333;
  --btn-color-primary: #ae2d59;
  --btn-color-primary-hover: #cb376a;
  --btn-color-primary-border: #db7598;
  --btn-color-secondary: rgba(44, 181, 179, 0.9);
  --btn-color-tertiary: #ae2d58c9;
  --input-border: #999;
  --input-border-focus: rgba(44, 181, 179, 0.9);

  /* ----- Calendar ----- */

  --rbc-toolbar: #eee;
  --rbc-toolbar-btn: #eee;
  --rbc-header: #eee;
  --rbc-day-bg: #eee;
  --rbc-off-range-bg: #c0c2c0e3;
  --rbc-today: rgba(109, 109, 109, 0.9);
  --rbc-event: #1467f6f0;
  --rbc-event-selected: rgb(164, 17, 17);
  --rbc-event-focus: #ceec07;
}

/* ----- end of globale color vars ----- */

/* ----- start of globale styling ----- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

main {
  background-image: url(https://cdn.discordapp.com/attachments/1021406713313763328/1033093032943296612/football-1-1551755_1_1.webp);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
span,
button,
p,
li,
label {
  font-family: "Nunito Sans", sans-serif;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  padding: 0.5rem 2rem;
  border: 2px solid var(--input-border);
  border-radius: 5px;
  display: block;
}

input:focus {
  border: 3px solid var(--input-border-focus);
  outline: none;
}

label {
  display: block;
}
/* ----- end of globale styling -----*/

/* ----- start of button styling -----*/

.btn {
  border-radius: 5px;
}

.btn-hidden {
  display: none;
}

.btn:active {
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transform: translateY(4px);
}

.btn:disabled {
  opacity: 0.6;
}

/* ----- end of button styling -----*/

/* ----- start of scrollbar styling ----- */

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ----- end of scrollbar styling ----- */

/* ----- debugging ----- */
.border {
  border: 1px solid red;
}
