/* ----- start of globale color vars ----- */

:root {
  --navigation-li: #00ff41;
  --navigation-bg: #424344;
  --white: #eee;
  --black: #333;
}

/* ----- end of globale color vars ----- */

/* ----- start of globale styling ----- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

main::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url(https://cdn.discordapp.com/attachments/1021406713313763328/1027873313776738334/football-1-1551755.jpg);
  background-size: cover;
  background-position: center center;
  filter: brightness(60%);
}

h1 {
  font-family: "Bebas Neue", cursive;
}
h2,
span,
button,
p,
li {
  font-family: "Nunito Sans", sans-serif;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ----- endof globale styling -----*/

/* ----- start of scrollbar styling ----- */

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ----- end of scrollbar styling ----- */

/* ----- debugging ----- */
.border {
  border: 1px solid red;
}
