/* ----- used in LandingPage.js ----- */

.landing-page {
  display: flex;
  min-height: 100vh;
  margin-top: 6rem;
}

.landing-page .hero {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-page .hero-content {
  position: relative;
  color: var(--white);
  text-align: center;
  margin: auto;
}

.landing-page .hero-title {
  font-size: 3rem;
  font-weight: 600;
}

.landing-page .hero-subtitle {
  font-size: 2rem;
  font-weight: 200;
  margin-top: 1rem;
}

.landing-page .hero-button {
  background-color: var(--btn-color-primary);
  color: var(--white);
  border: 1px solid var(--btn-color-primary-hover);
  margin-top: 5rem;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  font-weight: 200;
  cursor: pointer;
}

.landing-page .hero-button:hover {
  background-color: var(--btn-color-primary-hover);
  border: 1px solid var(--btn-color-primary-border);
}

.landing-page .hero-button .fontawesomeicon {
  color: var(--white);
  font-size: 2rem;
  padding: 0rem 0.8rem;
}

.landing-page .text-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clear-white);
  padding: 2rem;
}

.landing-page .text-container span {
  font-size: 1rem;
  line-height: 1.2;
  color: var(--white);
  max-width: 60%;
}

@media screen and (min-width: 576px) {
  .landing-page .hero-title {
    font-size: 4rem;
  }

  .landing-page .hero-subtitle {
    font-size: 2.5rem;
  }

  .landing-page .hero-button {
    font-size: 1.5rem;
    margin-top: 3rem;
  }

  .landing-page .text-container span {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .landing-page .hero-title {
    font-size: 5rem;
  }

  .landing-page .hero-subtitle {
    font-size: 3.5rem;
  }

  .landing-page .hero-button {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .landing-page .text-container span {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 992px) {
  .landing-page .hero-title {
    font-size: 7rem;
  }

  .landing-page .hero-subtitle {
    font-size: 5rem;
  }

  .landing-page .hero-button {
    font-size: 3rem;
    margin-top: 3rem;
  }

  .landing-page .text-container span {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1200px) {
  .landing-page .hero-title {
    font-size: 10rem;
  }

  .landing-page .hero-subtitle {
    font-size: 8rem;
  }

  .landing-page .hero-button {
    font-size: 3rem;
    margin-top: 3rem;
  }

  .landing-page .text-container span {
    font-size: 2rem;
  }
}
