/* ----- used in PublicCalendar.js ----- */

.public-calendar {
  padding-top: 8rem;
  height: 100vh;
  width: 100%;
  background-color: var(--white);
}

.rbc-toolbar {
  background-color: var(--rbc-toolbar);
  margin-bottom: 0;
}

.rbc-toolbar button {
  background-color: var(--rbc-toolbar-btn);
  padding: 0.5rem;
}

.rbc-btn-group {
  padding: 0.5rem;
  align-items: center;
}

.rbc-header {
  background-color: var(--rbc-header);
  border-bottom: 0.2rem solid #ddd;
  border-top: 0.2rem solid #ddd;
}

.rbc-header + .rbc-header {
  border-left: 0.2rem solid #ddd;
}

.rbc-day-bg {
  background-color: var(--rbc-day-bg);
}

.rbc-off-range-bg {
  background-color: var(--rbc-off-range-bg);
}

.rbc-event {
  background-color: var(--rbc-event);
}

.rbc-event.rbc-selected {
  background-color: rgb(164, 17, 17);
}

.rbc-event:focus {
  outline: 5px auto var(--rbc-event-focus);
}

.rbc-event-content {
  font-size: 1rem;
}

.rbc-event-label {
  display: none;
}

/* .rbc-time-view .rbc-row {
  font-size: 4rem;
} */

/* time line */

.rbc-current-time-indicator {
  display: none;
}

/* ----- start of month ----- */

.rbc-month-view {
  border: none;
}

.rbc-month-row {
  border: none;
}

.rbc-month-row + .rbc-month-row {
  border-top: 0.2rem solid #ddd;
}

.rbc-day-bg + .rbc-day-bg {
  border-left: 0.2rem solid #ddd;
}

.rbc-date-cell {
  font-size: 1.2rem;
  padding: 0.5rem;
}

.rbc-date-cell button {
  padding: 0.5rem;
}

.rbc-date-cell.rbc-now button {
  font-weight: bold;
  background-color: var(--rbc-event);
  color: var(--white);
  border-radius: 50%;
}

.rbc-date-cell.rbc-now.rbc-off-range button {
  color: var(--white);
}

/* ----- end of month ----- */

/* ----- start of week ----- */

.rbc-time-view {
  font-size: 10rem;
  border: none;
}

.rbc-time-view .rbc-row {
  box-sizing: border-box;
  min-height: auto;
  font-size: 4rem;
}

.rbc-time-header-content {
  border-left: 0.2rem solid #ddd;
}

.rbc-time-header.rbc-overflowing {
  border-right: none;
}

.rbc-timeslot-group {
  background-color: var(--rbc-day-bg);
  border-left: 0.2rem solid #ddd;
  border-bottom: 0.2rem solid #ddd;
}

.rbc-today .rbc-timeslot-group {
  background-color: var(--rbc-today);
}

.rbc-header.rbc-today {
  font-weight: bold;
  background-color: var(--rbc-event);
  color: var(--white);
}

/* .rbc-time-content {
} */

.rbc-time-view .rbc-header {
  border-bottom: none;
}

.rbc-day-slot .rbc-time-slot {
  border-top: none;
  background-color: var(--white);
}

.rbc-day-slot div:nth-child(25) {
  display: none;
}

/* ----- end of week ----- */

/* ----- start of agenda ----- */

.rbc-agenda-view {
  font-size: 5rem;
}

.rbc-agenda-table {
  background-color: var(--rbc-day-bg);
  font-size: 5rem;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
  border-left: 0.2rem solid #ddd;
}

/* ----- end of agenda ----- */

@media screen and (min-width: 830px) {
  .public-calendar {
    padding: 8rem 0 0 0;
  }

  .rbc-toolbar {
    font-size: 4rem;
  }

  .rbc-month-view {
    font-size: 4rem;
  }

  .rbc-month-row {
    font-size: 6rem;
  }

  .rbc-event-content {
    font-size: 2rem;
  }

  .rbc-time-header {
    margin-right: 0 !important;
  }

  .rbc-agenda-view {
    font-size: 10rem;
  }

  .rbc-agenda-table {
    font-size: 10rem;
  }
}
